<div>
    <h2 id="page-heading">
        <span jhiTranslate="warlockApp.stats.home.title">Stats</span>
        <button id="my-create-entity" class="btn btn-primary float-right my-create-entity create-stats" [routerLink]="['/stats/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="warlockApp.stats.home.createLabel">
            Create new Stats
            </span>
        </button>
    </h2>
    <my-alert></my-alert>
    <br/>
    <div class="table-responsive" *ngIf="stats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="warlockApp.stats.name">Name</span></th>
            <th><span jhiTranslate="warlockApp.stats.num">Num</span></th>
            <th><span jhiTranslate="warlockApp.stats.abbr">Abbr</span></th>
            <th><span jhiTranslate="warlockApp.stats.chara">Chara</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stats of stats ;trackBy: trackId">
                <td><a [routerLink]="['/stats', stats.id, 'view' ]">{{stats.id}}</a></td>
                <td>{{stats.name}}</td>
                <td>{{stats.num}}</td>
                <td>{{stats.abbr}}</td>
                <td>
                    <div *ngIf="stats.chara">
                        <a [routerLink]="['../chara', stats.chara?.id, 'view' ]" >{{stats.chara?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stats', stats.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stats', stats.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'stats', { outlets: { popup: stats.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
