<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="my-stats-heading" jhiTranslate="warlockApp.stats.home.createOrEditLabel">Create or edit a Stats</h2>
            <div>
                <my-alert-error></my-alert-error>
                <div class="form-group" [hidden]="!stats.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stats.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.stats.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="stats.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.stats.num" for="field_num">Num</label>
                    <input type="number" class="form-control" name="num" id="field_num"
                        [(ngModel)]="stats.num" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.stats.abbr" for="field_abbr">Abbr</label>
                    <input type="text" class="form-control" name="abbr" id="field_abbr"
                        [(ngModel)]="stats.abbr" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.stats.chara" for="field_chara">Chara</label>
                    <select class="form-control" id="field_chara" name="chara" [(ngModel)]="stats.chara" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="charaOption.id === stats.chara?.id ? stats.chara : charaOption" *ngFor="let charaOption of charas; trackBy: trackCharaById">{{charaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
