<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stats">
            <h2><span jhiTranslate="warlockApp.stats.detail.title">Stats</span> {{stats.id}}</h2>
            <hr>
            <my-alert-error></my-alert-error>
            <dl class="row-md my-entity-details">
                <dt><span jhiTranslate="warlockApp.stats.name">Name</span></dt>
                <dd>
                    <span>{{stats.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.stats.num">Num</span></dt>
                <dd>
                    <span>{{stats.num}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.stats.abbr">Abbr</span></dt>
                <dd>
                    <span>{{stats.abbr}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.stats.chara">Chara</span></dt>
                <dd>
                    <div *ngIf="stats.chara">
                        <a [routerLink]="['/chara', stats.chara?.id, 'view']">{{stats.chara?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stats', stats.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
