<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="characterClass">
            <h2><span jhiTranslate="warlockApp.characterClass.detail.title">Character Class</span> {{characterClass.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warlockApp.characterClass.name">Name</span></dt>
                <dd>
                    <span>{{characterClass.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.characterClass.description">Description</span></dt>
                <dd>
                    <span>{{characterClass.description}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.characterClass.hp">Hp</span></dt>
                <dd>
                    <span>{{characterClass.hp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/character-class', characterClass.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
