<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-race-heading" jhiTranslate="warlockApp.race.home.createOrEditLabel">Create or edit a Race</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!race.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="race.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="race.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.summary" for="field_summary">Summary</label>
                    <input type="text" class="form-control" name="summary" id="field_summary"
                        [(ngModel)]="race.summary" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="race.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.age" for="field_age">Age</label>
                    <input type="text" class="form-control" name="age" id="field_age"
                        [(ngModel)]="race.age" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.alignment" for="field_alignment">Alignment</label>
                    <input type="text" class="form-control" name="alignment" id="field_alignment"
                        [(ngModel)]="race.alignment" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.size" for="field_size">Size</label>
                    <input type="text" class="form-control" name="size" id="field_size"
                        [(ngModel)]="race.size" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.speed" for="field_speed">Speed</label>
                    <input type="text" class="form-control" name="speed" id="field_speed"
                        [(ngModel)]="race.speed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.race.languages" for="field_languages">Languages</label>
                    <input type="text" class="form-control" name="languages" id="field_languages"
                        [(ngModel)]="race.languages" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
