<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="race">
            <h2><span jhiTranslate="warlockApp.race.detail.title">Race</span> {{race.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warlockApp.race.name">Name</span></dt>
                <dd>
                    <span>{{race.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.race.summary">Summary</span></dt>
                <dd>
                    <span>{{race.summary}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.race.description">Description</span></dt>
                <dd>
                    <span>{{race.description}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.race.age">Age</span></dt>
                <dd>
                    <span>{{race.age}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.race.alignment">Alignment</span></dt>
                <dd>
                    <span>{{race.alignment}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.race.size">Size</span></dt>
                <dd>
                    <span>{{race.size}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.race.speed">Speed</span></dt>
                <dd>
                    <span>{{race.speed}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.race.languages">Languages</span></dt>
                <dd>
                    <span>{{race.languages}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/race', race.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
