<div>
    <h2 id="page-heading">
        <span jhiTranslate="warlockApp.race.home.title">Races</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-race" [routerLink]="['/race/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="warlockApp.race.home.createLabel">
            Create new Race
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="races">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="warlockApp.race.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="summary"><span jhiTranslate="warlockApp.race.summary">Summary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="warlockApp.race.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="age"><span jhiTranslate="warlockApp.race.age">Age</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="alignment"><span jhiTranslate="warlockApp.race.alignment">Alignment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="size"><span jhiTranslate="warlockApp.race.size">Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="speed"><span jhiTranslate="warlockApp.race.speed">Speed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="languages"><span jhiTranslate="warlockApp.race.languages">Languages</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let race of races ;trackBy: trackId">
                <td><a [routerLink]="['/race', race.id, 'view' ]">{{race.id}}</a></td>
                <td>{{race.name}}</td>
                <td>{{race.summary}}</td>
                <td>{{race.description}}</td>
                <td>{{race.age}}</td>
                <td>{{race.alignment}}</td>
                <td>{{race.size}}</td>
                <td>{{race.speed}}</td>
                <td>{{race.languages}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/race', race.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/race', race.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'race', { outlets: { popup: race.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="races && races.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
