<div>
    <h2 id="page-heading">
        <span>Mis personajes</span>
        
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row col-12">
        <div *ngFor="let chara of charas;trackBy: trackId" class="col-4 mb-3">
            <div *ngIf="chara.userProfile.userId==currentAccount.id" class="col-12 chara-card rounded">
                    <h3>{{chara.name}}</h3>
                    <p>{{chara.race.name}} - {{chara.characterClass.name}}</p>
                    <div class="btn-group flex-btn-group-container mb-4">
                        <button type="submit"
                                [routerLink]="['/chara', chara.id, 'view' ]"
                                class="btn btn-dark btn-sm">
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chara', chara.id, 'edit']"
                                class="btn btn-dark btn-sm">
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'chara', { outlets: { popup: chara.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
            </div>  
        </div>
    </div>








    <!-- <div class="table-responsive" *ngIf="charas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="warlockApp.chara.name">Name</span></th>
            <th><span jhiTranslate="warlockApp.chara.alingment">Alingment</span></th>
            <th><span jhiTranslate="warlockApp.chara.faith">Faith</span></th>
            <th><span jhiTranslate="warlockApp.chara.lifestyle">Lifestyle</span></th>
            <th><span jhiTranslate="warlockApp.chara.hair">Hair</span></th>
            <th><span jhiTranslate="warlockApp.chara.skin">Skin</span></th>
            <th><span jhiTranslate="warlockApp.chara.eyes">Eyes</span></th>
            <th><span jhiTranslate="warlockApp.chara.height">Height</span></th>
            <th><span jhiTranslate="warlockApp.chara.weight">Weight</span></th>
            <th><span jhiTranslate="warlockApp.chara.age">Age</span></th>
            <th><span jhiTranslate="warlockApp.chara.flaws">Flaws</span></th>
            <th><span jhiTranslate="warlockApp.chara.special">Special</span></th>
            <th><span jhiTranslate="warlockApp.chara.gender">Gender</span></th>
            <th><span jhiTranslate="warlockApp.chara.peronality">Peronality</span></th>
            <th><span jhiTranslate="warlockApp.chara.ideals">Ideals</span></th>
            <th><span jhiTranslate="warlockApp.chara.bonds">Bonds</span></th>
            <th><span jhiTranslate="warlockApp.chara.userProfile">User Profile</span></th>
            <th><span jhiTranslate="warlockApp.chara.background">Background</span></th>
            <th><span jhiTranslate="warlockApp.chara.characterClass">Character Class</span></th>
            <th><span jhiTranslate="warlockApp.chara.race">Race</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chara of charas ;trackBy: trackId">
                <td><a [routerLink]="['/chara', chara.id, 'view' ]">{{chara.id}}</a></td>
                <td>{{chara.name}}</td>
                <td>{{chara.alingment}}</td>
                <td>{{chara.faith}}</td>
                <td>{{chara.lifestyle}}</td>
                <td>{{chara.hair}}</td>
                <td>{{chara.skin}}</td>
                <td>{{chara.eyes}}</td>
                <td>{{chara.height}}</td>
                <td>{{chara.weight}}</td>
                <td>{{chara.age}}</td>
                <td>{{chara.flaws}}</td>
                <td>{{chara.special}}</td>
                <td>{{chara.gender}}</td>
                <td>{{chara.peronality}}</td>
                <td>{{chara.ideals}}</td>
                <td>{{chara.bonds}}</td>
                <td>
                    <div *ngIf="chara.userProfile">
                        <a [routerLink]="['../user-profile', chara.userProfile?.id, 'view' ]" >{{chara.userProfile?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chara.background">
                        <a [routerLink]="['../background', chara.background?.id, 'view' ]" >{{chara.background?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chara.characterClass">
                        <a [routerLink]="['../character-class', chara.characterClass?.id, 'view' ]" >{{chara.characterClass?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chara.race">
                        <a [routerLink]="['../race', chara.race?.id, 'view' ]" >{{chara.race?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/chara', chara.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chara', chara.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'chara', { outlets: { popup: chara.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div> -->
</div>
