<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chara" class="p-0">
            <div class="row col-12 ">
                <h2 class="col"> {{chara.name}}</h2> <h3 class="col">{{chara.race.name}} </h3> <h3 class="col">{{chara.characterClass.name}}</h3>
            </div>
            <div class="row col-12 stats bloque rounded">

            </div>
            <div class="row justify-content-center">
                <div class="col-3 bloque rounded">
                    <p>Acobacias</p>
                    <p>Arcanos</p>
                    <p>Atletismo</p>
                    <p>Engaño</p>
                    <p>Historia</p>
                    <p>Interpretación</p>
                    <p>Intimidación</p>
                    <p>Investigación</p>
                    <p>Juego de manos</p>
                    <p>Medicina</p>
                    <p>Naturaleza</p>
                    <p>Percepción</p>
                    <p>Perspicacia</p>
                    <p>Persuasión</p>
                    <p>Religión</p>
                    <p>Sigilo</p>
                    <p>Supervivencia</p>
                    <p>Trato con animales</p>
                </div>
                <div class="col-3  hp">
                    <div class="col-12 bloque rounded hp">
                            <h5>Vida</h5>
                                <p>{{chara.characterClass.hp}}</p>
                    </div>
                    <div class="col-12 bloque rounded">
                            <h5>Tiradas de salvación</h5>
                            <p>Fuerza</p>
                            <p>Destreza</p>
                            <p>Constitución</p>
                            <p>Inteligencia</p>
                            <p>Sabiduría</p>
                            <p>Carisma</p>
                    </div>  
                </div>
                <div class="col-3 offset-1 bloque rounded">
                    <h5>Personalidad</h5>
                    <p>{{chara.peronality}}</p>
                    <h5>Ideales</h5>
                    <p>{{chara.ideals}}</p>
                    <h5>Lazos</h5>
                    <p>{{chara.bonds}}</p>
                    <h5>Alineamiento</h5>
                    <p>{{chara.alingment}}</p>
                    <h5>Fe</h5>
                    <p>{{chara.faith}}</p>
                    <h5>Estilo de vida</h5>
                    <p>{{chara.lifestyle}}</p>
                </div>
            </div>
            <div class="row col-12 bloque rounded">
                <p class="col-4">Pelo: {{chara.hair}}</p>
                <p class="col-4">Piel: {{chara.skin}}</p>
                <p class="col-4">Ojos: {{chara.eyes}}</p>
                <p class="col-4">Altura: {{chara.height}}</p>
                <p class="col-4">Peso: {{chara.weight}}</p>
                <p class="col-4">Edad: {{chara.age}}</p>
                <p class="col-4">Defectos: {{chara.flaws}}</p>
                <p class="col-4">Otros rasgos: {{chara.special}}</p>
                <p class="col-4">Género: {{chara.gender}}</p>
            </div>
            <div class="row col-12 bloque rounded" *ngIf="chara.background">
                <h3>Trasfondo: {{chara.background.name}}</h3>
                <p>{{chara.background.description}}</p>
            </div>
            <jhi-alert-error></jhi-alert-error>
            <!-- <dl class="row-md jh-entity-details">
               
                <dt><span jhiTranslate="warlockApp.chara.background">Background</span></dt>
                <dd>
                    <div *ngIf="chara.background">
                        <a [routerLink]="['/background', chara.background?.id, 'view']">{{chara.background?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warlockApp.chara.characterClass">Character Class</span></dt>
                <dd>
                    <div *ngIf="chara.characterClass">
                        <a [routerLink]="['/character-class', chara.characterClass?.id, 'view']">{{chara.characterClass?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warlockApp.chara.race">Race</span></dt>
                <dd>
                    <div *ngIf="chara.race">
                        <a [routerLink]="['/race', chara.race?.id, 'view']">{{chara.race?.name}}</a>
                    </div>
                </dd>
            </dl> -->

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info mt-5">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chara', chara.id, 'edit']"
                    class="btn btn-primary mt-5">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
