<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div *ngIf="racePage">
                <div class="form-group row col-12">
                    <div *ngFor="let race of races;trackBy: trackId" class="col-4 chara-card rounded">
                        <h3>{{race.name}}</h3>
                        <p>{{race.summary}}</p>
                        <button class="btn" (click)="chooseRace(race);classPage=true;racePage=false">Elegir</button>
                        <a class="btn" 
                            [routerLink]="['/race', race.id, 'view' ]">
                            Más información
                        </a>
                        
                    </div>
                </div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button class="btn btn-info" (click)="classPage=true;racePage=false">Siguiente</button>
            </div>
            <div *ngIf="classPage">
                <div class="form-group row col-12">
                    <div *ngFor="let charClass of characterclasses" class="col-4 chara-card rounded">
                        <h3>{{charClass.name}}</h3>
                        <p>{{charClass.description}}</p>
                        <button class="btn" (click)="chooseClass(charClass);classPage=false; charaPage=true">Elegir</button>
                        <a class="btn" [routerLink]="['/character-class', charClass.id, 'view' ]">
                            Más información
                        </a>
                    </div>
                </div>
                <button class="btn btn-info" (click)="classPage=false;racePage=true">Anterior</button>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button class="btn btn-info" (click)="classPage=false; charaPage=true">Siguiente</button>
            </div>
            <div *ngIf="charaPage">
                <h2 *ngIf="chara">{{chara.name}}</h2>
                <my-alert-error></my-alert-error>
                <div class="form-group d-none" [hidden]="!chara.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id=" chara-formid" name="id"
                        [(ngModel)]="chara.id" readonly />
                </div>
                <div class="form-group row">
                    <label class="form-control-label col-2" jhiTranslate="warlockApp.chara.name" for="field_name">Name</label>
                    <input type="text" class="form-control col-3 chara-form " name="name" id="field_name"
                        [(ngModel)]="chara.name" />
                </div>
                <div class="form-group row">
                    <label class="form-control-label col-2" jhiTranslate="warlockApp.chara.background" for="field_background">Background</label>
                    <select class="form-control col-3 chara-form" id="field_background" name="background" [(ngModel)]="chara.background">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="backgroundOption.id === chara.background?.id ? chara.background : backgroundOption" *ngFor="let backgroundOption of backgrounds; trackBy: trackBackgroundById">{{backgroundOption.name}}</option>
                    </select>
                    
                </div>
                <div class="row col-12" *ngIf="chara.background">
                    <p>Descripción {{chara.background.name}}: {{chara.background.description}}</p>
                </div>
                <div class="row col-12" *ngIf="chara.background">
                    <!-- multiselect -->
                </div>
                <div class="row col-12 background-trait rounded" *ngIf="chara.background" >
                    <h3></h3>
                        
                </div>
                <div class="row col-12 p-0">
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.alingment" for="field_alingment">Name</label>
                        <input type="text" class="form-control col-7 chara-form" name="alingment" id="field_alingment"
                            [(ngModel)]="chara.alingment" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.faith" for="field_faith">Alingment</label>
                        <input type="text" class="form-control col-7 chara-form" name="faith" id="field_faith"
                            [(ngModel)]="chara.faith" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.lifestyle" for="field_lifestyle">Name</label>
                        <input type="text" class="form-control col-7 chara-form" name="lifestyle" id="field_lifestyle"
                            [(ngModel)]="chara.lifestyle" />
                    </div>
                </div>
                <div class="row col-12 p-0">
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.hair" for="field_hair">Name</label>
                        <input type="text" class="form-control col-7 chara-form" name="hair" id="field_hair"
                            [(ngModel)]="chara.hair" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.skin" for="field_skin">Alingment</label>
                        <input type="text" class="form-control col-7 chara-form" name="skin" id="field_skin"
                            [(ngModel)]="chara.skin" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.eyes" for="field_eyes">Name</label>
                        <input type="text" class="form-control col-7 chara-form" name="eyes" id="field_eyes"
                            [(ngModel)]="chara.eyes" />
                    </div>
                </div>
                <div class="row col-12 p-0">
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.height" for="field_height">Name</label>
                        <input type="number" class="form-control col-7 chara-form" name="height" id="field_height"
                            [(ngModel)]="chara.height" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.weight" for="field_weight">Alingment</label>
                        <input type="number" class="form-control col-7 chara-form" name="weight" id="field_weight"
                            [(ngModel)]="chara.weight" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.age" for="field_age">Name</label>
                        <input type="number" class="form-control col-7 chara-form" name="age" id="field_age"
                            [(ngModel)]="chara.age" />
                    </div>
                </div>
                <div class="row col-12 p-0">
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.flaws" for="field_flaws">Name</label>
                        <input type="text" class="form-control col-7 chara-form" name="flaws" id="field_flaws"
                            [(ngModel)]="chara.flaws" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.special" for="field_special">Alingment</label>
                        <input type="text" class="form-control col-7 chara-form" name="special" id="field_special"
                            [(ngModel)]="chara.special" />
                    </div>
                    <div class="form-group row col-4">
                        <label class="form-control-label col-5" jhiTranslate="warlockApp.chara.gender" for="field_gender">Name</label>
                        <input type="text" class="form-control col-7 chara-form" name="gender" id="field_gender"
                            [(ngModel)]="chara.gender"/>
                    </div>
                </div>
                <div class="form-group row col-12 p-0">
                    <label class="form-control-label col-3" jhiTranslate="warlockApp.chara.peronality" for="field_peronality">Peronality</label>
                    <input type="text" class="form-control col-8 chara-form" name="peronality" id="field_peronality"
                        [(ngModel)]="chara.peronality"/> 
                </div>
                <div class="form-group row col-12 p-0">
                    <label class="form-control-label col-3" jhiTranslate="warlockApp.chara.ideals" for="field_ideals">ideals</label>
                    <input type="text" class="form-control col-8 chara-form" name="ideals" id="field_ideals"
                        [(ngModel)]="chara.ideals"/> 
                </div>
                <div class="form-group row col-12 p-0">
                    <label class="form-control-label col-3" jhiTranslate="warlockApp.chara.bonds" for="field_bonds">bonds</label>
                    <input type="text" class="form-control col-8 chara-form" name="bonds" id="field_bonds"
                        [(ngModel)]="chara.bonds"/> 
                </div>
                <div class="form-group row col-12 p-0">
                    <label class="form-control-label col-3" jhiTranslate="warlockApp.chara.flaws" for="field_flaws">flaws</label>
                    <input type="text" class="form-control col-8 chara-form" name="flaws" id="field_flaws"
                        [(ngModel)]="chara.flaws"/> 
                </div>

                
                <!--
                
                
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.chara.userProfile" for="field_userProfile">User Profile</label>
                    <select class="form-control" id="field_userProfile" name="userProfile" [(ngModel)]="chara.userProfile" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userProfileOption.id === chara.userProfile?.id ? chara.userProfile : userProfileOption" *ngFor="let userProfileOption of userprofiles; trackBy: trackUserProfileById">{{userProfileOption.id}}</option>
                    </select>
                </div>
                -->
                <div>
                    <button class="btn btn-info" (click)="classPage=true; charaPage=false">Anterior</button>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save" (click)="saveUserProfile()">Save</span>
                    </button>
                </div>
            </div> 
           
        </form>
    </div>
</div>
