<div>
    <h2 id="page-heading">
        <span jhiTranslate="warlockApp.trait.home.title">Traits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trait" [routerLink]="['/trait/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="warlockApp.trait.home.createLabel">
            Create new Trait
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="traits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="warlockApp.trait.name">Name</span></th>
            <th><span jhiTranslate="warlockApp.trait.description">Description</span></th>
            <th><span jhiTranslate="warlockApp.trait.background">Background</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trait of traits ;trackBy: trackId">
                <td><a [routerLink]="['/trait', trait.id, 'view' ]">{{trait.id}}</a></td>
                <td>{{trait.name}}</td>
                <td>{{trait.description}}</td>
                <td>
                    <div *ngIf="trait.background">
                        <a [routerLink]="['../background', trait.background?.id, 'view' ]" >{{trait.background?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/trait', trait.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trait', trait.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'trait', { outlets: { popup: trait.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
