<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trait">
            <h2><span jhiTranslate="warlockApp.trait.detail.title">Trait</span> {{trait.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warlockApp.trait.name">Name</span></dt>
                <dd>
                    <span>{{trait.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.trait.description">Description</span></dt>
                <dd>
                    <span>{{trait.description}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.trait.background">Background</span></dt>
                <dd>
                    <div *ngIf="trait.background">
                        <a [routerLink]="['/background', trait.background?.id, 'view']">{{trait.background?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trait', trait.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
