<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="my-racial-traits-heading" jhiTranslate="warlockApp.racialTraits.home.createOrEditLabel">Create or edit a Racial Traits</h2>
            <div>
                <my-alert-error></my-alert-error>
                <div class="form-group" [hidden]="!racialTraits.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="racialTraits.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.racialTraits.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="racialTraits.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.racialTraits.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="racialTraits.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.racialTraits.race" for="field_race">Race</label>
                    <select class="form-control" id="field_race" name="race" [(ngModel)]="racialTraits.race" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="raceOption.id === racialTraits.race?.id ? racialTraits.race : raceOption" *ngFor="let raceOption of races; trackBy: trackRaceById">{{raceOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
