<div>
    <h2 id="page-heading">
        <span jhiTranslate="warlockApp.racialTraits.home.title">Racial Traits</span>
        <button id="my-create-entity" class="btn btn-primary float-right my-create-entity create-racial-traits" [routerLink]="['/racial-traits/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="warlockApp.racialTraits.home.createLabel">
            Create new Racial Traits
            </span>
        </button>
    </h2>
    <my-alert></my-alert>
    <br/>
    <div class="table-responsive" *ngIf="racialTraits">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="warlockApp.racialTraits.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="warlockApp.racialTraits.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="race.name"><span jhiTranslate="warlockApp.racialTraits.race">Race</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let racialTraits of racialTraits ;trackBy: trackId">
                <td><a [routerLink]="['/racial-traits', racialTraits.id, 'view' ]">{{racialTraits.id}}</a></td>
                <td>{{racialTraits.name}}</td>
                <td>{{racialTraits.description}}</td>
                <td>
                    <div *ngIf="racialTraits.race">
                        <a [routerLink]="['../race', racialTraits.race?.id, 'view' ]" >{{racialTraits.race?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/racial-traits', racialTraits.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/racial-traits', racialTraits.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'racial-traits', { outlets: { popup: racialTraits.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="racialTraits && racialTraits.length">
        <div class="row justify-content-center">
            <my-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></my-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
