<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="racialTraits">
            <h2><span jhiTranslate="warlockApp.racialTraits.detail.title">Racial Traits</span> {{racialTraits.id}}</h2>
            <hr>
            <my-alert-error></my-alert-error>
            <dl class="row-md my-entity-details">
                <dt><span jhiTranslate="warlockApp.racialTraits.name">Name</span></dt>
                <dd>
                    <span>{{racialTraits.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.racialTraits.description">Description</span></dt>
                <dd>
                    <span>{{racialTraits.description}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.racialTraits.race">Race</span></dt>
                <dd>
                    <div *ngIf="racialTraits.race">
                        <a [routerLink]="['/race', racialTraits.race?.id, 'view']">{{racialTraits.race?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/racial-traits', racialTraits.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
