<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="background">
            <h2><span jhiTranslate="warlockApp.background.detail.title">Background</span> {{background.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warlockApp.background.name">Name</span></dt>
                <dd>
                    <span>{{background.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.background.description">Description</span></dt>
                <dd>
                    <span>{{background.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/background', background.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
