<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-background-characteristic-heading" jhiTranslate="warlockApp.backgroundCharacteristic.home.createOrEditLabel">Create or edit a Background Characteristic</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!backgroundCharacteristic.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="backgroundCharacteristic.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.backgroundCharacteristic.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="backgroundCharacteristic.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.backgroundCharacteristic.background" for="field_background">Background</label>
                    <select class="form-control" id="field_background" name="background" [(ngModel)]="backgroundCharacteristic.background" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="backgroundOption.id === backgroundCharacteristic.background?.id ? backgroundCharacteristic.background : backgroundOption" *ngFor="let backgroundOption of backgrounds; trackBy: trackBackgroundById">{{backgroundOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
