<div>
    <h2 id="page-heading">
        <span jhiTranslate="warlockApp.backgroundCharacteristic.home.title">Background Characteristics</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-background-characteristic" [routerLink]="['/background-characteristic/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="warlockApp.backgroundCharacteristic.home.createLabel">
            Create new Background Characteristic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="backgroundCharacteristics">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="warlockApp.backgroundCharacteristic.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="background.name"><span jhiTranslate="warlockApp.backgroundCharacteristic.background">Background</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let backgroundCharacteristic of backgroundCharacteristics ;trackBy: trackId">
                <td><a [routerLink]="['/background-characteristic', backgroundCharacteristic.id, 'view' ]">{{backgroundCharacteristic.id}}</a></td>
                <td>{{backgroundCharacteristic.description}}</td>
                <td>
                    <div *ngIf="backgroundCharacteristic.background">
                        <a [routerLink]="['../background', backgroundCharacteristic.background?.id, 'view' ]" >{{backgroundCharacteristic.background?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/background-characteristic', backgroundCharacteristic.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/background-characteristic', backgroundCharacteristic.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'background-characteristic', { outlets: { popup: backgroundCharacteristic.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="backgroundCharacteristics && backgroundCharacteristics.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
