<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="backgroundCharacteristic">
            <h2><span jhiTranslate="warlockApp.backgroundCharacteristic.detail.title">Background Characteristic</span> {{backgroundCharacteristic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warlockApp.backgroundCharacteristic.description">Description</span></dt>
                <dd>
                    <span>{{backgroundCharacteristic.description}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.backgroundCharacteristic.background">Background</span></dt>
                <dd>
                    <div *ngIf="backgroundCharacteristic.background">
                        <a [routerLink]="['/background', backgroundCharacteristic.background?.id, 'view']">{{backgroundCharacteristic.background?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/background-characteristic', backgroundCharacteristic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
