<div>
    <h2 id="page-heading">
        <span jhiTranslate="warlockApp.proficiency.home.title">Proficiencies</span>
        <button id="my-create-entity" class="btn btn-primary float-right my-create-entity create-proficiency" [routerLink]="['/proficiency/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="warlockApp.proficiency.home.createLabel">
            Create new Proficiency
            </span>
        </button>
    </h2>
    <my-alert></my-alert>
    <br/>
    <div class="table-responsive" *ngIf="proficiencies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="warlockApp.proficiency.name">Name</span></th>
            <th><span jhiTranslate="warlockApp.proficiency.description">Description</span></th>
            <th><span jhiTranslate="warlockApp.proficiency.background">Background</span></th>
            <th><span jhiTranslate="warlockApp.proficiency.characterClass">Character Class</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proficiency of proficiencies ;trackBy: trackId">
                <td><a [routerLink]="['/proficiency', proficiency.id, 'view' ]">{{proficiency.id}}</a></td>
                <td>{{proficiency.name}}</td>
                <td>{{proficiency.description}}</td>
                <td>
                    <div *ngIf="proficiency.background">
                        <a [routerLink]="['../background', proficiency.background?.id, 'view' ]" >{{proficiency.background?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proficiency.characterClass">
                        <a [routerLink]="['../character-class', proficiency.characterClass?.id, 'view' ]" >{{proficiency.characterClass?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/proficiency', proficiency.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proficiency', proficiency.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'proficiency', { outlets: { popup: proficiency.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
