<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="proficiency">
            <h2><span jhiTranslate="warlockApp.proficiency.detail.title">Proficiency</span> {{proficiency.id}}</h2>
            <hr>
            <my-alert-error></my-alert-error>
            <dl class="row-md my-entity-details">
                <dt><span jhiTranslate="warlockApp.proficiency.name">Name</span></dt>
                <dd>
                    <span>{{proficiency.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.proficiency.description">Description</span></dt>
                <dd>
                    <span>{{proficiency.description}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.proficiency.background">Background</span></dt>
                <dd>
                    <div *ngIf="proficiency.background">
                        <a [routerLink]="['/background', proficiency.background?.id, 'view']">{{proficiency.background?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warlockApp.proficiency.characterClass">Character Class</span></dt>
                <dd>
                    <div *ngIf="proficiency.characterClass">
                        <a [routerLink]="['/character-class', proficiency.characterClass?.id, 'view']">{{proficiency.characterClass?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/proficiency', proficiency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
