<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="my-proficiency-heading" jhiTranslate="warlockApp.proficiency.home.createOrEditLabel">Create or edit a Proficiency</h2>
            <div>
                <my-alert-error></my-alert-error>
                <div class="form-group" [hidden]="!proficiency.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="proficiency.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.proficiency.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="proficiency.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.proficiency.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="proficiency.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.proficiency.background" for="field_background">Background</label>
                    <select class="form-control" id="field_background" name="background" [(ngModel)]="proficiency.background" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="backgroundOption.id === proficiency.background?.id ? proficiency.background : backgroundOption" *ngFor="let backgroundOption of backgrounds; trackBy: trackBackgroundById">{{backgroundOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.proficiency.characterClass" for="field_characterClass">Character Class</label>
                    <select class="form-control" id="field_characterClass" name="characterClass" [(ngModel)]="proficiency.characterClass" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="characterClassOption.id === proficiency.characterClass?.id ? proficiency.characterClass : characterClassOption" *ngFor="let characterClassOption of characterclasses; trackBy: trackCharacterClassById">{{characterClassOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
