/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc;
}
nav,
.dropdown-menu {
    background-color: #3d1847;
}

nav a {
    color: #fff;
    text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

nav fa-icon {
    color: green;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.my-navbar {
    background-color: #8800c2;
    padding: 0.2em 1em;
}

.my-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.my-navbar .dropdown-item.active,
.my-navbar .dropdown-item.active:focus,
.my-navbar .dropdown-item.active:hover {
    background-color: #8800c2;
}

.my-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.my-navbar ul.navbar-nav {
    padding: 0.5em;
}

.my-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.my-navbar a.nav-link {
    font-weight: 400;
}

.my-navbar .my-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.my-navbar .my-navbar-toggler:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .my-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .my-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo-img {
    height: 100%;
    background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}
