<nav class="navbar navbar-expand-md">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span jhiTranslate="global.title" class="navbar-title">Warlock</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- // needle-add-element-to-menu -  new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                        <span>
                            <fa-icon icon="th-list"></fa-icon>
                            <span>
                                Mi baúl
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                      
                        <li>
                            <a class="dropdown-item" routerLink="chara" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                <span>Mis personajes</span>
                            </a>
                        </li>
                        
                        <!-- // needle-add-entity-to-menu -  entities to the menu here -->
                    </ul>
                </li>
               <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'" >
                    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                                <span>
                                    <fa-icon icon="th-list"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.main">
                                        Entities
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                                <li>
                                    <a class="dropdown-item" routerLink="race" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.race">Race</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="racial-traits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.racialTraits">Racial Traits</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="character-class" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.characterClass">Character Class</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="background" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.background">Background</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="bonus" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.bonus">Bonus</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="ability" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.ability">Ability</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="proficiency" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.proficiency">Proficiency</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="stats" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.stats">Stats</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="chara" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.chara">Chara</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="user-profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span jhiTranslate="global.menu.entities.userProfile">User Profile</span>
                                    </a>
                                </li>
                                <!-- // needle-add-entity-to-menu -  entities to the menu here -->
                            </ul>
                        </li>
               </ng-container> 
            
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <!-- // needle-add-element-to-admin-menu -  entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
