<div class="row contenedor justify-content-center">
    
    <div class="row col-12 mt-5">
        <div class="tarjeta col-12 col-md-4" >
            <div class="col-10 offset-1 p-0 " id="color1">
                <a [routerLink]="['/chara/new']">
                    <img class="img-fluid w-100" src="../../content/images/crea-tu-personaje.jpg">
                    <h2>Crea tu personaje</h2>
                </a>
            </div>
        </div>
        <div class="tarjeta col-12 col-md-4" >
            <div class="col-10 offset-1 p-0" id="color2">
                <a href="#">
                    <img class="img-fluid w-100" src="../../content/images/crea-tu-aventura.jpg">
                    <h2>Crea tu aventura</h2>
                </a>
            </div>
        </div>
        <div class="tarjeta col-12 col-md-4" >
            <div class="col-10 offset-1 p-0" id="color3">
                <a href="#">
                    <img class="img-fluid w-100" src="../../content/images/crea-tu-enemigo.jpg">
                    <h2>Crea tu villano</h2>
                </a>
            </div>
        </div>
    </div>
    

  

</div>
