/* ==========================================================================
Main page styles
========================================================================== */



/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
        background-size: contain;
    }
}

.contenedor{
    background-color: #282024 !important;
}

.tarjeta img{
    opacity: 0.75;
}

.tarjeta{
    height:475px;
    overflow: hidden;
    scroll-behavior: none;
    transition: ease-in-out 350ms;
}

.tarjeta div{
    transition: ease-in-out 350ms;
}

/* .tarjeta div:hover, .tarjeta div:focus{
    background-color: #fff;
    transition: ease-in-out 350ms;
} */

#color1:hover{
    background-color: blueviolet;
    transition: ease-in-out 350ms;
    box-shadow: inset -5px 0px 25px 2px rgba(0,0,0,1);
}
#color2:hover{
    background-color: yellowgreen;
    transition: ease-in-out 350ms;
    box-shadow: inset 0px 0px 25px 10px rgba(0,0,0,1);
}
#color3:hover{
    background-color: tomato;
    transition: ease-in-out 350ms;
    box-shadow: inset 5px 0px 25px 2px rgba(0,0,0,1);
}

.tarjeta h2{
    position: absolute;
    left: 60px;
    top: 40px;
    z-index: 1px;
    font-weight: 600;
    color: #fff;
    text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
