<div>
    <h2>
        <span id="metrics-page-heading" jhiTranslate="metrics.title">Application Metrics</span>
        <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon [icon]="'sync'"></fa-icon> <span jhiTranslate="metrics.refresh.button">Refresh</span>
        </button>
    </h2>

    <h3 jhiTranslate="metrics.jvm.title">JVM Metrics</h3>
    <div class="row" *ngIf="!updatingMetrics">
        <my-jvm-memory
            class="col-md-4"
            [updating]="updatingMetrics"
            [jvmMemoryMetrics]="metrics.jvm">
        </my-jvm-memory>
        <my-jvm-threads class="col-md-4" [threadData]="threadData"></my-jvm-threads>
        <my-metrics-system
            class="col-md-4"
            [updating]="updatingMetrics"
            [systemMetrics]="metrics.processMetrics">
        </my-metrics-system>
    </div>

    <div *ngIf="isObjectExisting(metrics, 'garbageCollector')">
        <h3 jhiTranslate="metrics.jvm.gc.title">Garbage collector statistics</h3>
        <my-metrics-garbagecollector [updating]="updatingMetrics" [garbageCollectorMetrics]="metrics.garbageCollector"></my-metrics-garbagecollector>
    </div>

    <div class="well well-lg" *ngIf="updatingMetrics" jhiTranslate="metrics.updating">Updating...</div>

    <my-metrics-request
        *ngIf="isObjectExisting(metrics, 'http.server.requests')"
        [updating]="updatingMetrics"
        [requestMetrics]="metrics['http.server.requests']">
    </my-metrics-request>

    <div >
        <my-metrics-endpoints-requests
            *ngIf="isObjectExisting(metrics, 'services')"
            [updating]="updatingMetrics"
            [endpointsRequestsMetrics]="metrics.services">
        </my-metrics-endpoints-requests>

    <my-metrics-cache
        *ngIf="isObjectExisting(metrics, 'cache')"
        [updating]="updatingMetrics"
        [cacheMetrics]="metrics.cache">
    </my-metrics-cache>

    <my-metrics-datasource
        *ngIf="isObjectExistingAndNotEmpty(metrics, 'databases')"
        [updating]="updatingMetrics"
        [datasourceMetrics]="metrics.databases">
    </my-metrics-datasource>

</div>
