<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bonus">
            <h2><span jhiTranslate="warlockApp.bonus.detail.title">Bonus</span> {{bonus.id}}</h2>
            <hr>
            <my-alert-error></my-alert-error>
            <dl class="row-md my-entity-details">
                <dt><span jhiTranslate="warlockApp.bonus.name">Name</span></dt>
                <dd>
                    <span>{{bonus.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.bonus.change">Change</span></dt>
                <dd>
                    <span>{{bonus.change}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.bonus.stat">Stat</span></dt>
                <dd>
                    <span>{{bonus.stat}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.bonus.characterClass">Character Class</span></dt>
                <dd>
                    <div *ngIf="bonus.characterClass">
                        <a [routerLink]="['/character-class', bonus.characterClass?.id, 'view']">{{bonus.characterClass?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warlockApp.bonus.racialTraits">Racial Traits</span></dt>
                <dd>
                    <div *ngIf="bonus.racialTraits">
                        <a [routerLink]="['/racial-traits', bonus.racialTraits?.id, 'view']">{{bonus.racialTraits?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bonus', bonus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
