<div>
    <h2 id="page-heading">
        <span jhiTranslate="warlockApp.bonus.home.title">Bonuses</span>
        <button id="my-create-entity" class="btn btn-primary float-right my-create-entity create-bonus" [routerLink]="['/bonus/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="warlockApp.bonus.home.createLabel">
            Create new Bonus
            </span>
        </button>
    </h2>
    <my-alert></my-alert>
    <br/>
    <div class="table-responsive" *ngIf="bonuses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="warlockApp.bonus.name">Name</span></th>
            <th><span jhiTranslate="warlockApp.bonus.change">Change</span></th>
            <th><span jhiTranslate="warlockApp.bonus.stat">Stat</span></th>
            <th><span jhiTranslate="warlockApp.bonus.characterClass">Character Class</span></th>
            <th><span jhiTranslate="warlockApp.bonus.racialTraits">Racial Traits</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bonus of bonuses ;trackBy: trackId">
                <td><a [routerLink]="['/bonus', bonus.id, 'view' ]">{{bonus.id}}</a></td>
                <td>{{bonus.name}}</td>
                <td>{{bonus.change}}</td>
                <td>{{bonus.stat}}</td>
                <td>
                    <div *ngIf="bonus.characterClass">
                        <a [routerLink]="['../character-class', bonus.characterClass?.id, 'view' ]" >{{bonus.characterClass?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bonus.racialTraits">
                        <a [routerLink]="['../racial-traits', bonus.racialTraits?.id, 'view' ]" >{{bonus.racialTraits?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bonus', bonus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bonus', bonus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bonus', { outlets: { popup: bonus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
