<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="my-bonus-heading" jhiTranslate="warlockApp.bonus.home.createOrEditLabel">Create or edit a Bonus</h2>
            <div>
                <my-alert-error></my-alert-error>
                <div class="form-group" [hidden]="!bonus.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bonus.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.bonus.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="bonus.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.bonus.change" for="field_change">Change</label>
                    <input type="number" class="form-control" name="change" id="field_change"
                        [(ngModel)]="bonus.change" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.bonus.stat" for="field_stat">Stat</label>
                    <input type="text" class="form-control" name="stat" id="field_stat"
                        [(ngModel)]="bonus.stat" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.bonus.characterClass" for="field_characterClass">Character Class</label>
                    <select class="form-control" id="field_characterClass" name="characterClass" [(ngModel)]="bonus.characterClass" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="characterClassOption.id === bonus.characterClass?.id ? bonus.characterClass : characterClassOption" *ngFor="let characterClassOption of characterclasses; trackBy: trackCharacterClassById">{{characterClassOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.bonus.racialTraits" for="field_racialTraits">Racial Traits</label>
                    <select class="form-control" id="field_racialTraits" name="racialTraits" [(ngModel)]="bonus.racialTraits" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="racialTraitsOption.id === bonus.racialTraits?.id ? bonus.racialTraits : racialTraitsOption" *ngFor="let racialTraitsOption of racialtraits; trackBy: trackRacialTraitsById">{{racialTraitsOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
