<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ability">
            <h2><span jhiTranslate="warlockApp.ability.detail.title">Ability</span> {{ability.id}}</h2>
            <hr>
            <my-alert-error></my-alert-error>
            <dl class="row-md my-entity-details">
                <dt><span jhiTranslate="warlockApp.ability.name">Name</span></dt>
                <dd>
                    <span>{{ability.name}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.ability.description">Description</span></dt>
                <dd>
                    <span>{{ability.description}}</span>
                </dd>
                <dt><span jhiTranslate="warlockApp.ability.characterClass">Character Class</span></dt>
                <dd>
                    <div *ngIf="ability.characterClass">
                        <a [routerLink]="['/character-class', ability.characterClass?.id, 'view']">{{ability.characterClass?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ability', ability.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
