<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="my-ability-heading" jhiTranslate="warlockApp.ability.home.createOrEditLabel">Create or edit a Ability</h2>
            <div>
                <my-alert-error></my-alert-error>
                <div class="form-group" [hidden]="!ability.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ability.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.ability.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="ability.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.ability.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="ability.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warlockApp.ability.characterClass" for="field_characterClass">Character Class</label>
                    <select class="form-control" id="field_characterClass" name="characterClass" [(ngModel)]="ability.characterClass" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="characterClassOption.id === ability.characterClass?.id ? ability.characterClass : characterClassOption" *ngFor="let characterClassOption of characterclasses; trackBy: trackCharacterClassById">{{characterClassOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
